html {
  background-color: #DDDDDD; }

.dropmenu {
  z-index: 10;
  background-color: #EEEEEE;
  padding: .2em .2em;
  display: inline-block;
  min-width: 12em;
  background: #2989d8;
  background: linear-gradient(to bottom, #2989d8 1%, #207cca 22%, #207cca 22%, #7db9e8 100%); }

.dropButton {
  display: block;
  text-align: center;
  padding: .2em .5em;
  background-color: #EEEEEE;
  border-radius: 4px; }

.dropmenu-content {
  display: none;
  position: absolute; }
  .dropmenu-content div {
    padding: .2em .5em;
    background-color: #EEEEEE;
    border-radius: 4px;
    margin: .2em .2em; }

.dropSelect {
  top: 0;
  float: left; }

.dropmenu:hover .dropmenu-content {
  display: block; }

.tableCell {
  text-align: center;
  padding: .2em .5em;
  background-color: #EEEEEE;
  border-radius: 4px;
  min-width: 5em; }

.tableRow {
  padding: 1em; }

.filler {
  height: 3em; }

.tableDiv {
  position: static;
  top: 3em;
  max-height: calc(100vh - 100px);
  overflow: auto; }
