html {
  min-height: 100%;
  background-color: #DDDDDD;
  background: linear-gradient(to bottom, #997d60 0%, #dab78c 45%, #c3a996 100%);
  background-attachment: fixed; }

.absolute-pos {
  position: absolute; }

.dropmenu-content {
  display: none;
  padding: 1em; }
  .dropmenu-content div {
    padding: .2em .5em;
    background-color: #EEEEEE;
    border-radius: 4px;
    margin: .2em .2em; }

.dropSelect {
  top: 0;
  float: left; }

.dropmenu:hover .dropmenu-content {
  display: block; }

.hiddenColumn {
  color: red; }

.dropmenu {
  z-index: 10;
  display: inline-block;
  min-width: 12em; }

.dropButton {
  display: block;
  text-align: center;
  width: 15em;
  margin: auto; }

.queryFileBox {
  display: inherit;
  width: 99%;
  margin-bottom: 0.3em; }

.queryMenuDiv {
  padding: .2em .2em;
  background: #2989d8;
  background: linear-gradient(to bottom, #2989d8 1%, #207cca 22%, #207cca 22%, #7db9e8 100%); }

.commandtitle {
  margin: auto; }

.queryMenuButton {
  padding: .2em .5em;
  background-color: #EEEEEE;
  border-radius: 4px; }

.queryTextEntry {
  width: calc(90vw); }

.tableModDiv {
  background-color: #EEEEEE;
  padding: .2em .2em;
  background: #2989d8;
  background: linear-gradient(to bottom, #2989d8 1%, #207cca 22%, #207cca 22%, #7db9e8 100%); }

.tableModDrop {
  background: #2989d8;
  background: linear-gradient(to bottom, #2989d8 1%, #207cca 22%, #207cca 22%, #7db9e8 100%); }

.tableModButton {
  padding: .2em .5em;
  background-color: #EEEEEE;
  border-radius: 4px; }

.tableHead td {
  background-color: #FAFAFA; }

.tableHead th {
  background-color: #FAFAFA; }

.tableBody td {
  background-color: #FAFAFA; }

.tableCell {
  text-align: center;
  white-space: nowrap;
  min-width: 4em; }

.tableRow {
  padding: 1em; }

.tableDiv {
  background: #ccc;
  position: static;
  top: 3em;
  max-height: calc(80vh - 100px);
  max-width: calc(95%);
  margin: auto;
  border: 2px solid black; }

.tableBodyDiv {
  overflow: auto; }

.tableHeadDiv {
  overflow: hidden;
  border-bottom: none; }

.tableQuery {
  margin: auto;
  display: table;
  background-color: bisque;
  border-radius: 1em;
  padding: 0.3em; }

.querySelect {
  margin-top: 2.3em; }

.queryMenuContainer {
  text-align: center;
  margin-bottom: 1em; }

.tableModifiers {
  text-align: center; }

.topBar {
  background: #ffe889;
  background: linear-gradient(to bottom, #f0b7a1 0%, #8c3310 50%, #752201 51%, #bf6e4e 100%);
  min-height: 2em;
  padding: 0.2em;
  display: flex;
  justify-content: left;
  position: fixed;
  width: 100%;
  top: 0; }

.topMessage {
  color: #ffff99; }

.topButton {
  margin-right: 1em; }

.loginButtonDiv {
  padding-left: 9em; }

.LoginShow {
  padding: 0.3em;
  background: #fdffe5;
  top: 2.2em;
  position: absolute; }

.LoginShow label {
  width: 9em;
  display: inline-block;
  text-align: right; }

.LoginShow input {
  min-width: 20em; }

.fileSelectShow {
  padding: 0.3em;
  background: #fdffe5;
  top: 2.2em;
  position: absolute;
  border: 1px solid black; }

.fileSelectShow label {
  display: inline-block; }

.fileSelectShow input[type="text"] {
  min-width: 40em;
  margin: 0.5em 0em 0.5em 0.5em; }

.saveRadio {
  margin: 0.6em; }

.saveButton {
  float: right; }

.fileBrowser {
  min-width: 40em;
  max-height: 33em; }

.browseDirs {
  height: 80%;
  background-color: white;
  border: 1px solid black;
  overflow: auto; }

.browseDir {
  display: block;
  width: 100%;
  color: darkblue; }

.browseFile {
  display: block;
  width: 100%;
  color: darkGreen; }

.browseCurrent {
  background: #f9f5ff;
  width: -webkit-fill-available;
  width: -moz-available; }

.browseEntry:hover {
  background-color: bisque; }

.modeShow {
  padding: 0.3em;
  background: #fdffe5;
  top: 2.2em;
  position: absolute; }

.modeButton {
  padding: 1em;
  margin: 1em; }

.historyArrows {
  right: 0;
  position: inherit;
  color: #ffff99; }

.arrow {
  font-size: x-large; }

.show {
  display: block; }

.dim {
  color: grey; }

.noselect {
  user-select: none; }

.helpBox {
  display: block;
  position: fixed;
  width: 90%;
  left: 5%;
  height: 90%;
  border: 1px solid black;
  background-color: beige;
  margin: auto;
  border-radius: 1em;
  padding: 1em;
  overflow-y: scroll; }

.dynoDiv {
  border: 1px solid black;
  max-height: 20em;
  overflow: auto;
  display: inline-block; }

.dynoTableCell {
  border: 1px solid grey;
  height: 1.5em; }
